/// <reference path="%ARTICLE_DTS_PATH%" />

import React from '#react';

const Button: React.FC = () => {
    return <button></button>;
};

declare function blog(): Blog;
(window.blogs ??= []).push({
    ...blog(),
    // 在这里扩展 Blog 对象...
});
